<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoolFont.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CoolFontWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CoolFontWin.Assets.UserDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  <loadFromRemoteSources enabled="true"/>
  </runtime>
  <userSettings>
    <CoolFont.Properties.Settings>
      <setting name="VJoyDir" serializeAs="String">
        <value>F:\\Program Files\\vJoy</value>
      </setting>
    </CoolFont.Properties.Settings>
    <CoolFontWin.Properties.Settings>
      <setting name="VJoyDir" serializeAs="String">
        <value>%PROGRAMFILES%\\vjoy\\</value>
      </setting>
    </CoolFontWin.Properties.Settings>
    <CoolFontWin.Assets.UserDefaults>
      <setting name="VJoyDirectory" serializeAs="String">
        <value>%PROGRAMFILES%\\vjoy\\</value>
      </setting>
    </CoolFontWin.Assets.UserDefaults>
  </userSettings>
</configuration>